body {
  background-image: url('https://cdn3.sportngin.com/attachments/news_article/51ba-117128631/shutterstock_549133762.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  padding: 20px;
  margin: 0;
  text-align: center;
}

button {
  border-radius: 50%;
  background-color: #4CAF50; 
  color: white;
  cursor: pointer;
    }

h1 {
  text-align: center;
  text-shadow: 2px 2px 5px red;
}

h2 {
  text-align: center;
  text-shadow: 2px 2px 5px red;
}
h3 {
  text-align: center;
   text-shadow: 2px 2px 5px blue;
} 
h5 {
  text-align: center;
  text-shadow: 2px 2px 5px white;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
li:hover {
  background-color: rgb(12, 233, 12);
  border-radius: 24px;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 20px;
}
ul.header {
  text-align: center;
  border-radius: 24px;
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 2px 2px 5px red;
  padding: 20px;
  display: inline-block;
}
.content {
  background-size: 50% ;
  border-radius: 50%;
  background-color:rgb(241, 185, 138);
  padding: 20px;
  }
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  cursor: pointer;
  }


  .glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}